name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  syntax:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@main
      - run: brew test-bot --only-tap-syntax

  build:
    needs: syntax
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/build.yml
    with:
      formula: jdx-ruby@3.4.1

  # This job is used as a required status check
  conclusion:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && !cancelled()
    steps:
      - name: Result
        env:
          RESULT: ${{ needs.build.result }}
        run: |
          [[ "${RESULT}" == success ]]
